.nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  width: 350px;
  padding: 32px;
  padding-top: 10px;
  border-right: 1px solid #adb5bd;
}

.nav > a {
  margin: 8px 0;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 16px;
  letter-spacing: 0.025em;
  color: #1e1e1e;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: rgba(5, 84, 246, 0.12);
}
